

//VARIABLES
$icon-size:36px;
$icon-color:black;
$generic-border:1px solid;

.body-img{
    height: 100%;
    position:relative;
    background:   url("images/example-4.jpg")no-repeat;
    background-size: inherit;
    background-position: center;
    /*margin-left:100%;*/
}

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');

body{
    font-family: 'PT Sans', sans-serif;
    width:100%;
    max-width:1400px;
    margin:0 auto;
    /*background-image: url('images/background.jpg');*/
    background: linear-gradient(to right,#7f7fd5,#86a8e7,#91eae4);
    background-position: cover;
}


.mySlides {
    
        width: 100%;
        height: 300px;
        min-height: 400px;
        position: relative;
        /*outline:1px dotted red;*/
    }

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  max-width: 1400px;

  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/*.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}*/

/*.active, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


//NAVIGATION
nav ul{
    /*border:1px solid black;*/
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap:10px;
   max-width:100%;
  
   /*background:white;*/
   li{
    list-style-type:none;
    font-size:18px;
    display:grid;
    align-items:center;
    justify-items:center;
   color:black;
}
a{
    text-decoration:none;
    color:black;
    }
    a:hover{
        color:white;
        background:#9AC3EA;
    }
}

#my-name{
    font-family: 'Parisienne', cursive;
}

#about{
    text-align:center;
    font-size:24px;
}


aside{
    display:grid;
    grid-template-columns:2fr 2fr;
    height:auto;
    margin-top:20px;
 justify-items:center;
 width:100%;
 p{
    line-height:34px;
   font-size:1.3rem;
    display:grid;
    align-items:center;
    justify-items:start;
    min-width:400px;
    margin:10px;
}
}


//PORTFOLIO
.portfolio{
    /*border:$generic-border;*/
    height:auto;
    margin-top:20px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    justify-items:center;
    grid-gap:10px;
    grid-row-gap:20px;
    .portfolio-item{
       
        transition: all .3s ease-in-out; 
    }
    .portfolio-item:hover{
        transform: scale(1.1); 
    }
  
}




//TESTIMONIALS
.testimonials{
    border:$generic-border;
    height:300px;
    margin-top:20px;
}



  
//FOOTER
footer{
    width:100%;
    height:50px;
    /*border:1px solid black;*/
    margin-bottom:10px;
    display:grid;
    justify-content:center;
    align-items:center;
   grid-gap:10px;
    /*background:skyblue;*/
    grid-template-columns:3fr 1fr 1fr 1fr 1fr 1fr;
    font-weight:600;
}

.fab{
    font-size:$icon-size;
    color:$icon-color;
}





//MEDIA QUERIES
/* On screens that are 700px wide or less, the background color is blue */



@media screen and (max-width: 700px) {
    body {
      /*background-color: blue;*/
      color:black;
    }

    nav ul{
        /*border:1px solid black;*/
        display:grid;
        grid-template-columns:1fr;
        grid-gap:10px;
      max-width:100%;
    }

    aside{
        display:grid;
        grid-template-columns:1fr;
        grid-gap:20px;
        /*border:1px solid black;*/
        height:auto;
        margin-top:20px;
     justify-items:center;
      /*border:$generic-border;*/
      width:100%;
      p{
          margin:10px;
      }
    }

 

    .portfolio{
        /*border:$generic-border;*/
        height:auto;
        margin-top:20px;
        display:grid;
        grid-template-columns:1fr;
        grid-gap:10px;
        justify-items:center;
    }

 

  }

  
  @media screen and (min-width:400px) and (max-width:900px){
    .portfolio{
        /*border:$generic-border;*/
        height:auto;
        margin-top:20px;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-gap:10px;
        justify-items:center;
        /*background:red;*/
    }
}

  @media screen and (max-width: 1002px){
    aside{
        display:grid;
        grid-template-columns:1fr;
        grid-gap:20px;
        /*border:$generic-border;*/
        height:400px;
        height:auto;
        margin-top:20px;
     justify-items:center;
    width:100%;
    }
}

@media screen and (max-width: 550px) {
    body {
      /*background-color:purple;*/
      color:black;
    }

    .portfolio{
        /*border:$generic-border;*/
        height:auto;
        margin-top:20px;
        display:grid;
        grid-template-columns:1fr;
        grid-gap:10px;
        justify-items:center;
        /*background:red;*/
    }

    aside{
        display:grid;
        grid-template-columns:1fr;
        grid-gap:20px;
        /*border:$generic-border;*/
        /*height:400px;*/
        height:auto;
        margin-top:20px;
     justify-items:start;
   
    width:100%;
    p{
        line-height:34px;
        font-size:1rem;
        /*border:$generic-border;*/
        display:grid;
        align-items:center;
        min-width:400px;
        margin:10px;
    }
    }

 


}


@media screen and (max-width: 325px) {
    body {
      /*background-color:yellow;*/
      color:black;
    }

    main{
        display:none;
    }

    aside{
        display:grid;
        grid-template-columns:1fr;
        grid-gap:20px;
        /*border:$generic-border;*/
        height:700px;
        height:auto;
        margin-top:20px;
     justify-items:start;
    width:100%;
    p{
        /*line-height:20px;*/
        font-size:.8em;
       max-width:40%;
        margin:10px;
        height:500px;
        overflow:hidden;
        word-wrap:break-word;
    }
    }

     


}