$primary-color:white;

body{
    background-color:$primary-color;
}

.navigation{
    display:grid;
    height:100px;
    width:100%;
    border: 1px solid black;
    grid-template-columns:14% 14% 14% 14% 14% 14% 14%;
    align-items:center;
  li{
      list-style:none;
  }
}

